@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

html,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
  font-family:
    'Helvetica Neue',
    Helvetica,
    'PingFang SC',
    'Microsoft YaHei',
    Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
}
